{% extends "base.html" %}
{% block content %}
<div class="Info">
    <fieldset>
        <legend>Insert your location here:</legend>
        <form>
            Food Truck Name:<br>
            <input type="text" name="name"><br>
            Description (max 250 chars):<br>
            <textarea name="description" rows="8" cols="40" maxlength="250"></textarea><br><br>

            Latitude:<br>
            <input type="text" name="latitude"><br>
            Longitude:<br>
            <input type="text" name="longitude"><br><br>
            <input type="submit" value="Submit">
        </form> 
    </fieldset>
</div>
{% endblock %}