{% extends "base.html" %}
{% block content %}
<div class="map-test">
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
        // The locations
        var Clemson = {lat: 34.6834, lng: -82.8374};
        var TastyThai = {Clemson};
        var FoodFountain = {lat: 39.6834, lng: -81.8374};
        // The map
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 12, center: Clemson});
        // The marker
        var marker = new google.maps.Marker({position: TastyThai, map: map});
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwRumm0oNQ_2vkWVkc-dz2v5vEp9tp_t0&callback=initMap">
    </script>
</div>
{% endblock %}